<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="CAL Editor"
            extensions="cal"
            icon="icons/actor.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="net.sf.opendf.eclipse.plugin.editors.CALEditor"
            id="net.sf.opendf.eclipse.plugin.editors.CAL">
      </editor>
      <editor
            class="net.sf.opendf.eclipse.plugin.editors.NLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="nl"
            icon="icons/network.gif"
            id="net.sf.opendf.eclipse.plugin.editors.NL"
            name="NL Editor"/>
   </extension>
   <extension
         id="net.sf.opendf.eclipse.plugin.launcher"
         name="Dataflow Simulation"
         point="org.eclipse.debug.core.launchConfigurationTypes">
         <launchConfigurationType
               delegate="net.sf.opendf.eclipse.plugin.launcher.OpendfLaunchDelegate"
               delegateDescription="The Opendf System Launcher supports the running and debugging of dataflow systems."
               delegateName="Dataflow System"
               id="net.sf.opendf.eclipse.plugin.launcher"
               modes="run, debug"
               name="Dataflow System"
               public="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="net.sf.opendf.eclipse.plugin.launcher"
            icon="icons/entity.gif"
            id="net.sf.opendf.eclipse.plugin.launcher.image"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.sf.opendf.eclipse.plugin.launcher.tabs.LauncherTabGroup"
            id="net.sf.opendf.eclipse.plugin.launcher.tabgroup"
            type="net.sf.opendf.eclipse.plugin.launcher"/>
   </extension>

</plugin>
