<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="net.sf.opendf.eclipse.plugin.launcher"
         name="Dataflow Simulation"
         point="org.eclipse.debug.core.launchConfigurationTypes">
         <launchConfigurationType
               delegate="net.sf.opendf.eclipse.plugin.launcher.OpendfLaunchDelegate"
               delegateDescription="The Opendf System Launcher supports the running and debugging of dataflow systems."
               delegateName="Dataflow System"
               id="net.sf.opendf.eclipse.plugin.launcher"
               modes="run, debug"
               name="Dataflow System"
               public="true"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.sf.opendf.eclipse.plugin.editors.CALEditor"
            class="net.sf.opendf.eclipse.plugin.debug.breakpoints.ActorEditorAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
         <adapter
               type="org.eclipse.debug.ui.actions.IRunToLineTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.opendf.eclipse.plugin.editors.CALEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="cal"
            filenames="*.cal"
            icon="icons/actor.gif"
            id="net.sf.opendf.eclipse.plugin.editors.CAL"
            name="CAL Editor">
      </editor>
      <editor
            class="net.sf.opendf.eclipse.plugin.editors.NLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="nl"
            filenames="*.nl"
            icon="icons/network.gif"
            id="net.sf.opendf.eclipse.plugin.editors.NL"
            name="NL Editor"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="net.sf.opendf.eclipse.plugin.launcher"
            icon="icons/entity.gif"
            id="net.sf.opendf.eclipse.plugin.launcher.image"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.sf.opendf.eclipse.plugin.launcher.tabs.LauncherTabGroup"
            id="net.sf.opendf.eclipse.plugin.launcher.tabgroup"
            type="net.sf.opendf.eclipse.plugin.launcher"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="net.sf.opendf.eclipse.plugin.debug.sourceLookup.CALSourceLookupDirector"
            id="net.sf.opendf.eclipse.plugin.CALSourceLookupDirector"
            name="CAL Source Lookup Director">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="net.sf.opendf.eclipse.plugin.debug.sourceLookup.CALSourcePathComputerDelegate"
            id="net.sf.opendf.eclipse.plugin.CALSourcePathComputer">
      </sourcePathComputer>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="net.sf.opendf.eclipse.plugin.debug.breakpoints.ActorLineBreakpoint"
            name="Actor Line Breakpoints"
            markerType="net.sf.opendf.eclipse.plugin.OpendfPlugin.ACTOR_BREAKPOINT_MARKER"
            id="net.sf.opendf.eclipse.plugin.lineBreakpoint"/>
      <breakpoint
            class="net.sf.opendf.eclipse.plugin.debug.breakpoints.ActorWatchpoint"
            name="Actor Watchpoints"
            markerType="net.sf.opendf.eclipse.plugin.OpendfPlugin.ACTOR_WATCHPOINT_MARKER"
            id="net.sf.opendf.eclipse.plugin.watchpoint"/>
   </extension>
   <extension
         id="net.sf.opendf.eclipse.plugin.markerType.lineBreakpoint"
         name="Actor Line Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="net.sf.opendf.eclipse.plugin.markerType.watchpoint"
         name="Actor Watchpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super type="example.debug.core.pda.markerType.lineBreakpoint"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="net.sf.opendf.eclipse.plugin.editors.CAL"
            id="net.sf.opendf.eclipse.plugin.rulerActions">
         <action
               label="Toogle Breakpoint"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               style="push"
               actionID="RulerDoubleClick"
               id="net.sf.opendf.eclipse.plugin.doubleClickBreakpointAction"/>
      </editorContribution>
   </extension>

</plugin>
