/* Site
   -------------------------------- */

html {
	overflow-y: scroll;
	background: #5f5f5f url('../images/html_bg.png') repeat-x scroll;
}

body {
	margin: 0;
	padding: 0 0 20px;
	background: transparent url('../images/body_bg2.png') no-repeat center top;
	min-height: 100%;
	font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}

#wrapper {
	margin: 0 auto;
	width: 950px;
	position: relative;
}

#banner {
	height: 125px;
}

#content .bg {
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

table.layout-grid a.disabled, table.layout-grid a.disabled:hover {
	color: #aaa;
	cursor: default;
	text-decoration: line-through;
}


/* Logo
   -------------------------------- */

h1.logo {
	position: absolute;
	top: 55px;
	left: 28px;
	margin: 0;
}

h1.logo,
h1.logo a {
	width: 235px;
	height: 55px;
}

h1.logo a {
	display: block;
	background: url('../images/logo.png') no-repeat;
}

h1.logo a span {
	display: none;
}


/* Navigation
   -------------------------------- */

#navigation {
	height: 41px;
	float: left;
	position: absolute;
	top: 62px;
	right: 0px;
}

#navigation .left {
	float: left;
	width: 5px;
	height: 41px;
	/* background: url('/images/navigation.png') no-repeat left top; */
	background: url('../images/navigation_l.png') no-repeat left top;
}

#ie6 #navigation .left {
	background: transparent none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/navigation_l.png', sizingMethod='scale');
	zoom: 1;
}

#navigation .right {
	float: left;
	width: 3px;
	height: 41px;
	background: url('../images/navigation.png') no-repeat right top;
}

#navigation ul,
#navigation ul li {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 38px;
}

#navigation ul {
	height: 41px;
	//background: url('../images/navigation.png') repeat-x 0 -41px;
	background: url('../images/navigation2.png') repeat-x;
}

#navigation ul li a {
	float: left;
	display: block;
	height: 41px;
	padding: 0 18px;
	color: #ccc;
	text-decoration: none;
	background: url('../images/navigation_s.png') no-repeat right top;
}

#navigation ul li.selected a {
	color: #fff;
}

#navigation ul li.last a{
	background-image: none;
}

#navigation ul li a:hover {
	color: #fff;
}


/* Content
   -------------------------------- */

#content-wrapper {
	background: #fff url('../images/content_bg.png') repeat-y 0 0;
}

#content {
	background: url('../images/content_body_bg.png') no-repeat 0 13px;
	zoom: 1;
}

.content-top {
	font-size: 1px;
	height: 13px;
	background: url('../images/content_top_bg.png');
}

.content {
	padding: 0 0px 0 0px;
	overflow: hidden;
}

#content .content {
	min-height: 380px;
	background: url('../images/dot.png') repeat-y 203px 0;
}

#home #content .content {
	background: none;
	background-color: #fff;
}

#ie6 #content .content {
	height: 380px;
	overflow-y: visible;
}

/* Layout */

.content-head {
	height: 74px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}

.content-head h2 {
	float: left;
	margin: 0;
	padding: 20px 0 20px 24px;
	color: #ff9c08;
	font: normal 29px/30px "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif";
	letter-spacing: .5px;
}

.content-head h2 span {
	padding-right: 16px;
	border-right: 1px solid #ccc;
}

.content-head p {
	margin: 0;
	padding: 28px 0 0 12px;
	float: left;
	font: normal 15px "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif";
	letter-spacing: .5px;
}


/* Layout
   -------------------------------- */

.layout-grid {
	width: 100%;
}

.layout-grid td {
	vertical-align: top;
}

.layout-grid td.home {
	background: url('../images/teaser.png') no-repeat scroll right top;
	height: 405px;
	padding: 0 600px 0 24px;
}

.layout-grid td.left-nav {
	width: 200px;
}

.layout-grid td.normal {
	border-left: 1px solid #ccc;
	padding: 20px 24px;
	font-family:  "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif";
}

/* Home
   -------------------------------- */

.home h3 {
	margin: 0;
	padding: 17px 0 11px 0;
	color: #ff9c08;
	font: normal 30px "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif";
	letter-spacing: .5px;
}

.home p.large {
	padding-bottom: 15px;
	color: #000;
	font: bold 13px/19px "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif";
	letter-spacing: .2px;
	line-height: 16px;
}

.home p {
	margin: 0;
	padding-bottom: 14px;
	color: #333;
	font: normal 11px/14px 'Trebuchet MS', 'Arial', 'Helvetica', sans-serif;
}

.teaserbox {
	position: absolute;
	top: 250px;
	left: 452px;
	width: 400px;
}

.teaserbox ul {
	list-style-type: square;	
}

.teaserbox p {
	margin: 5px;
	padding: 0px;
}

.teaserbox h4 {
	margin-bottom: 0px;
	position: relative;
	left: 1px;
	top: 1px;
	color: #fff;
}

.teaserbox h4 span {
	position: absolute;
	top: -1px;
	left: -1px;
	color: #000;
}

/* Normal
   -------------------------------- */

.normal h3,
.normal h4 {
	margin: 0;
	font-weight: normal;
}

.normal h3 {
	padding: 0 0 9px;
}

.normal h4 {
	padding-bottom: 21px;
	border-bottom: 1px dashed #999;
	font-size: 12px;
	font-weight: bold;
}

.normal .pull-quote {
	padding: 6px 0;
	line-height: 20px;
	text-transform: uppercase;
	font-size: 12px;
}

.normal p {
	font-size: 12px;
}


/* Launch Pad
   -------------------------------- */

#launch-pad {
	height: 127px;
	overflow: hidden;
	background: url('../images/launch-pad_bg-1.png') repeat-y center top;
	padding: 11px 0px 11px 16px;
}

#launch-pad .launch-pad-button {
	float: left;
	width: 255px;
	height: 106px;
	background: url('../images/big_button-1.png') no-repeat;	
	padding: 21px 22px 0 23px;
	margin: 0 6px;
	cursor: pointer;
	cursor: hand;
	position: relative;
}

#ie6 #launch-pad .launch-pad-button {
	height: 106px;
}

#launch-pad .launch-pad-button .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 310px;
	height: 120px;
	background: url('../images/big_button-2.png') no-repeat;
}

#launch-pad .launch-pad-button h3,
#launch-pad .launch-pad-button p {
	position: relative;
}

#launch-pad .launch-pad-button.left {
	margin-left: 0;
}

#launch-pad .launch-pad-button.right {
	margin-right: 0;
}

#launch-pad .launch-pad-button h3 {
	margin: 0;
	padding: 0 0 4px;
	color: #ff9c08;
	font: normal 18px 'Arial', 'Helvetica', sans-serif;
	letter-spacing: .8px
}

#launch-pad .launch-pad-button h3 a,
#launch-pad .launch-pad-button h3 a:hover {
	color: #F4DF1E;
	text-decoration: none;
}

.launch-pad-button h3 span {
	position: absolute;
	top: -1px;
	left: -1px;
	color: #ff9c08;
}

#launch-pad .launch-pad-button p {
	margin: 0;
	padding: 0 2px;
	//color: #cbcbcb;
	color: #fff;
	font: normal 11px/15px 'Arial', 'Helvetica', sans-serif;
	letter-spacing: .2px;
}


/* Footer
   -------------------------------- */

#footer {
	height: 45px;
	padding: 10px 0;
	position: relative;
}

#footer .inner {
	position: relative;
	z-index: 2;
}

#ie6 #footer .inner {
	zoom: 1;
}

#footer .bg {
	background: url('../images/footer_bg.png') no-repeat left top;
	width: 100%;
	height: 65px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#ie6 #footer .bg {
	background: transparent none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/footer_bg.png', sizingMethod='scale');
	zoom: 1;
}

#footer p {
	margin: 0;
	padding: 0;
	color: #5e5e5e;
	font: normal 9px 'Arial', 'Helvetica', sans-serif;
	text-transform: uppercase;
}

#footer p a {
	color: #bbb;
}

#footer span.first {
	display: block;
	float: left;
	padding: 6px 0 0 16px;
}

#footer .block {
	display: block;
	float: left;
}

#footer .block span,
#footer span.empty {
	display: none;
}

#footer .liferay {
	margin: 3px 22px 0px 3px;
	background: url('../images/icon_liferay.gif');
	width: 98px;
	height: 22px;
	border: 0;
}

#footer .adobe {
	margin: 2px 0 0 0;
	background: url('../images/icon_adobe.html');
	width: 28px;
	height: 28px;
}


/* About */

div.about ul {
	list-style-type: square;
	margin-bottom: 50px;
}

div.about ul li h5 {
	font-size: 16px;
	margin-bottom: 10px;
}

div.about ul li a:link, div.about ul li a:visited {
	text-decoration: none;
	color: #666;
}

div.about ul li a:hover {
	color: #000;
}

div.about ul li p {
	padding-right: 40px;
	padding-left: 20px;
}