<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="CAL Editor"
            extensions="cal"
            icon="icons/caltropsmall.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="net.sf.caltrop.eclipse.plugin.editors.CALEditor"
            id="net.sf.caltrop.eclipse.plugin.editors.CALEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
   </extension>
   <extension
         point="org.eclipse.help.toc">
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
   </extension>
   <extension
         point="org.eclipse.ui.views">
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>

</plugin>
