<?xml version="1.0" encoding="UTF-8"?>
<plugin
>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
         <launchConfigurationType
               delegate="net.sf.opendf.eclipse.plugin.launcher.OpendfLaunchDelegate"
               delegateDescription="The Opendf System Launcher supports the running and debugging of dataflow applications."
               delegateName="Dataflow System"
               id="opendf.launchType"
               modes="run, debug"
               name="Dataflow Application"
               public="true"
               sourceLocatorId="opendf.CALSourceLocator"
               sourcePathComputerId="opendf.CALSourcePathComputer"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.sf.opendf.eclipse.plugin.launcher.tabs.LauncherTabGroup"
            id="opendf.launcher.tabgroup"
            type="opendf.launchType"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="opendf.launchType"
            icon="icons/entity.gif"
            id="opendf.launcher.image"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.opendf.eclipse.plugin.editors.CALEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="cal"
            filenames="*.cal"
            icon="icons/actor.gif"
            id="opendf.editors.CAL"
            name="CAL Editor">
      </editor>
      <editor
            class="net.sf.opendf.eclipse.plugin.editors.NLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="nl"
            filenames="*.nl"
            icon="icons/network.gif"
            id="opendf.editors.NL"
            name="NL Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="opendf.editors.CAL"
            id="opendf.rulerActions">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="opendf.doubleClickBreakpointAction"
               label="Toggle Breakpoint"
               style="radio"/>
      </editorContribution>
   </extension>

</plugin>
