<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="CAL Editor"
            extensions="cal"
            icon="icons/caltropsmall.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="net.sf.opendf.eclipse.plugin.editors.CALEditor"
            id="net.sf.opendf.eclipse.plugin.editors.CAL">
      </editor>
      <editor
            class="net.sf.opendf.eclipse.plugin.editors.NLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="nl"
            icon="icons/caltropsmall.gif"
            id="net.sf.opendf.eclipse.plugin.editors.NL"
            name="NL Editor"/>
   </extension>

</plugin>
